/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 oct. 2023, 18:43:02
    Author     : javier
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Estilo para el encabezado h1 */
h1 {
    font-size: 36px; /* Tamaño de fuente */
    font-family: 'Roboto', sans-serif; /* Fuente */
    color: #3498db; /* Color de letra */
    text-align: center; /* Alineación de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */
}

/* Cambio de estilo al pasar el ratón sobre el encabezado */
h1:hover {
    color: #2980b9; /* Cambio de color al pasar el ratón */
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


p{
    font-size: 36px; /* Tamaño de fuente */
    font-family: 'Roboto', sans-serif; /* Fuente */
    color: #3498db; /* Color de letra */
    text-align: center; /* Alineación de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */

}
/* Estilo para el botón */
#miBoton {
    background-color: #3498db; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px 20px; /* Espacio interno */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

/* Estilo para el botón al pasar el ratón (efecto hover) */
#miBoton:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
}

#container{
    text-align: center;
}
label{
    font-size: 36px; /* Tamaño de fuente */
    font-family: 'Roboto', sans-serif; /* Fuente */
    color: #3498db; /* Color de letra */
    text-align: center; /* Alineación de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */
}